{% macro output( id, tabs ) %}

    <ul class="nav nav-tabs" role="tablist">
        {% for label in tabs|keys %}
            <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                <a href="#{{ id | cssSelector }}_{{ loop.index }}" role="tab" data-toggle="tab">
                	{{ label }}
                </a>
            </li>
        {% endfor %}
    </ul>
<div class="code-container-2">
    <div class="tab-content">
        {% for label, file in tabs %}
            <div id="{{ id | cssSelector }}_{{ loop.index }}" role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}">
                {% set fileName = label | split('.') %}
                {% set lang = fileName | last %}
                {% if lang == "php" %}
                    {% set lang = "php" %}
                {% endif %}
                <pre class="prettyprint grey-back lang-{{ lang }}">{{ source( file, ignore_missing=true ) | e }}</pre>
            </div>
        {% endfor %}
    </div>
</div>

{% endmacro %}
