{#
    Provided blocks:
     - Content
     - AdditionalScripts
#}
{% extends 'PlentyPluginShowcase::HtmlStructure' %}

{%  block MainFrame %}
<div class="row">
    <div class="container">
    <a href="#" id="top"></a>
    <div class="col-lg-9 col-md-9">
        {% block Content %}{% endblock %}
    </div>

    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs fixed-right" id="sidebar-nav">
        <p class="h4">Contents</p>
        <ul class="nav nav-list"></ul>
        <a href="#top">Back to top</a>
    </div>
    </div>
</div>
{% endblock %}

{% block AdditionalScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/lang-php.js"></script>
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/lang-plain.js"></script>
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/lang-twig.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ext-static_highlight.js"></script>

    <!-- Autoload Github Files for the example pages -->
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/githubFiles.js"></script>

    <!-- Enable expanding and collapsing code example containers -->
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/collapse-code.js"></script>

    <script>
        var highlight = ace.require("ace/ext/static_highlight");
        var dom = ace.require("ace/lib/dom");

        function qsa(sel) {
            return Array.apply(null, document.querySelectorAll(sel));
        }
        qsa("[ace-mode]").forEach(function (codeEl) {

            var mode = codeEl.getAttribute("ace-mode");

            if( mode == "json")
            {
                $(codeEl).html(JSON.stringify( JSON.parse($(codeEl).html()), null, '\t'));
            }

            if( mode == "php" ) mode = "php";
            highlight(codeEl, {
                mode: "ace/mode/" + mode,
                showGutter: true,
                trim: true,
                showFoldWidgets: true
            }, function (highlighted) {
            });
        });
    </script>

    <script>
        (function($) {
            $(window).on('load', function() {

                prettyPrint();

                $('[data-toggle="height"]').each(function(i, elem) {
                    var $elem = $(elem);
                    var $panelBody = $elem.parents('.panel-expandable');

                        $elem.click(function() {
                            var width = parseInt( $panelBody.find('.panel-expandable-inner').width() );
                            $panelBody.find('.panel-expandable-inner').width( width );
                            $panelBody.toggleClass('expanded');
                            $elem.find('.glyphicon').toggleClass('glyphicon-resize-full');
                            $elem.find('.glyphicon').toggleClass('glyphicon-resize-small');

                        });
                });

            });
        } (jQuery));
    </script>

    <script>
        $(document).ready(function()
        {
            $('.code-container > pre').each(function (i, container){

                var $container = $(container);
                var repo = $(container).data('code-repo');
                var file = $(container).data('code-file');
                var startline = $(container).data('code-startline');
                var endline = $(container).data('code-endline');

                if(!!repo &&repo != undefined && !!file && file != undefined)
                {
                    $.getGithubFileByFilePath("plentymarkets", repo, file, function(contents) {
                        $container.text(contents);
                    }, startline, endline);
                }

            });
        });
    </script>

{% endblock %}
